<nav class="navbar navbar-expand-lg navbar-dark sticky-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/images/logopic/vcp_logo.png" alt="VCP-Lab Logo" class="navbar-logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{{ '/' | relative_url }}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/professor/' | relative_url }}">Professor</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/members/' | relative_url }}">Members</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/projects/' | relative_url }}">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/publications/' | relative_url }}">Publications</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/patents/' | relative_url }}">Patents</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/standardization/' | relative_url }}">Standardization</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/media/' | relative_url }}">Media</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/album/' | relative_url }}">Album</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/openings/' | relative_url }}">Openings</a></li>
      </ul>
    </div>
  </div>
</nav>
